body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#quiz-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h1 {
    color: #333;
}

button {
    margin: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #af4caf;
    color: white;
    border: none;
    border-radius: 20px;
}

